//================Primary============//
$Cyan: hsl(179, 62%, 43%);
$Bright_Yellow: hsl(71, 73%, 54%);
//================Primary============//

//================Neutral============//
$Light_Gray: hsl(204, 43%, 93%);
$Darker_Light_Gray: hsla(202, 22%, 93%, 0.55);
$Grayish_Blue: hsl(218, 22%, 67%);
$Light_Cyan: hsl(179, 61%, 50%);
//================Neutral============//
